@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --cor-de-fundo: #778899;
    --cor-de-texto: #000000;
    --botao: #808080;
    --texto-principal: #FFFF00;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--texto-principal);
    font-family: "Lato", sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.botao {
    font-family: "Lato", sans-serif;
    background-color: var(--botao);
    color: var(--texto-principal);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao); 
    border-left: 2px solid var(--botao); 
    border-right: 2px solid var(--botao); 
    border-top: none;
}




@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}
